a {
    color: black;
    text-decoration: none;
}

.menu {
    border-bottom: 0.5px solid #dbdbdb;
    padding: 1em;
}

.logos-left {
    padding-left: 5em;
}

.logos-right {
    padding-right: 5em;
    width: 40px;
}

.bio-info {
    padding-left: 4em;
}

.acc-name {
    font-weight: 300;
    font-size: 2em;
}

.acc-info {
    margin: 3em;
    padding-top: 1em;
    padding-right: 1em;
}

.acc-img {
    margin-left: 9em;
    border: 2px solid #dbdbdb;
    padding: 6px;
}

.division {
    border: 0.5px solid #dbdbdb;
    width: 70vw;
    margin: 2em auto;
}

.stories {
    padding-left: 14em;
}

.stories img {
    padding: 3px;
    border: 1px solid #dbdbdb;
    margin: 1em;
}

.search-bar {
    margin: 0 auto;
}

.search-bar input {
    border: 1px solid #dbdbdb;
    text-decoration: none;
    width: 14.5em;
    color: #999;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9em;
}

.gallery {
    padding: 1em 5.25em;
}

.bio {
    font-size: 1em;
    padding-top: 1em;
}

.bott-menu {
    padding: 0 9em;
}

ul a {
    color: #003569;
    margin-bottom: 2em;
    margin-top: 1em;
    font-size: 0.65em;
    font-weight: 600;
    text-decoration: none;
}

© 2019 GitHub,
Inc.